@page
@model EnvironmentalChanges.Pages_EChanges.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EChange</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EChange.TypesOfWeather)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EChange.TypesOfWeather)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EChange.WeatherTiming)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EChange.WeatherTiming)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EChange.FoodInWeather)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EChange.FoodInWeather)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EChange.WeatherGarments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EChange.WeatherGarments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EChange.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
