@page
@model EnvironmentalChanges.Pages_EChanges.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EChange[0].TypesOfWeather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EChange[0].WeatherTiming)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EChange[0].FoodInWeather)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EChange[0].WeatherGarments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EChange) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypesOfWeather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherTiming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodInWeather)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherGarments)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
